html,
body,
*{
    padding: 0;
    margin: 0px;
    font-size: 62.5%;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Mooli', sans-serif;
    font-family: 'Pinyon Script', cursive;
}
.header {
    font-size: 8rem;
    color: aqua;
    background-color: blueviolet;
}

.bladeepushme {
    font-size: 6rem;
    color: aqua;
    height: 700px;
    width: auto;
    background-image: url(ihaveaweirdamountofbladeepics.jpg) ;
}
